<!DOCTYPE html>
<html ng-app="app">
<head>
	<title>Bharat Connect MEAN Test</title>
	<link rel="stylesheet" href="../node_modules/bootstrap/dist/css/bootstrap.min.css">
	<link rel="stylesheet" href="../node_modules/sweetalert/dist/sweetalert.css">
	 <link href='http://fonts.googleapis.com/css?family=Open+Sans:700,600' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" href="style/style.css">

	<script src="../node_modules/angular/angular.min.js"></script>
	<script src="https://code.jquery.com/jquery-2.2.0.min.js"></script>
	<!--<script src="../node_modules/jquery/dist/jquery.min.js"></script>-->
	<script src="../node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
	<script src="../node_modules/angular-smart-table/dist/smart-table.min.js"></script>
	<script src="../node_modules/sweetalert/dist/sweetalert.min.js"></script>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	
</head>
<body>
	<div class="container">
		<div style="margin-top:4%;">
			<h1>Bharat Connect MEAN Test</h1>
			<form ng-controller="dashBoardController">
				<div class="box">
				<h1>Welcome</h1>
					<input type="text" ng-model="user.user_name" placeholder="User Name" class="email"/>
				  	<input type="password" ng-model="user.password" placeholder="Password" class="email"/>
				  	<button ng-click="sign('in')" class="btn">Sign In</button>
				  	<button ng-click="sign('up')" id="btn2">Registration</button>
				  	<!-- End Btn2 -->
				</div> <!-- End Box -->
			</form>
		</div>
	</div>
	<script src="./app.js"></script>
</body>
</html>